body
{
background-color:#FFFFEE;
text-align:center;
color:#333333;
}

#title
{
margin-left:auto;
margin-right:auto;
width:80%;
/*border-style:solid;*/
}

#top_menu
{
margin-left:auto;
margin-right:auto;
width:60%;
border-top-style:solid;
border-bottom-style:solid;
word-spacing:200px;
}

#content
{
margin-left:auto;
margin-right:auto;
width:60%;
text-align:left;
/*border-style:solid;*/
}